div.b {
  width: 50%;
  margin-left: 40px;
  margin-right: 70%;
background-color: rgb(170,170,170) /*rgba(253,169,1,.8); */
}


.column {

    width: 50%;
    margin-bottom:50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom:50px ;
}

.row2:after {
    margin-bottom:50px ;
}


.iframe {
    float:inherit;
    margin-left: auto;
    margin-right: auto;

}

.small column {
    float: left;
    width: 40%;
}

.behaviors {
        max-width: 1500px;  /*980px;*/
        position: relative;
        margin: 0 auto; /*0 auto;*/
        /*border: 1px solid green;*/
}

.behavior1 {
    width:260px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
}

.behavior2 {
    width:260px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
}

.behavior3 {
    width:260px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
}

.behavior4 {
    width:260px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
}


.MDS and dendrogram {
    max-width: 1000px;  /*980px;*/
    position: relative;
    margin: 0 auto; /*0 auto;*/
    border: 1px solid green;
}

.dendrogram {
    width:500px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
    margin-bottom: 10px;
}

.MDS {
    width:500px;
    height:auto;
    position:relative;
    margin: 10px auto;
    float: left;
    margin-bottom: 10px;
}


p {
  margin-top: 0em;
  margin-bottom: 2em;
}



@charset "utf-8";
/* CSS Document */



body {
	margin:0;
	padding:0;
	background-color: rgba(0,0,0,0);   /*rgba(253,169,1,.8);*/
	color:black;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* ffdb99 F6F6E0 FDA901 #FCC301*/

#container {
	width:1100px;
	margin:auto;
	font-size:16px;
	position: relative;
}
#ucb {
}

/*
#wrapper {
 box-shadow: 0 0 5px #ffa500;
 -webkit-box-shadow: 0 0 5px #ffa500;
 -moz-box-shadow: 0 0 5px #ffa500;
 -moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:5px 0;
	overflow:hidden;

}

#banner {
	color:black;
	padding:50px;
	background-color:#FFF;
	margin:0;
	background-image: url(photos/C-elegans-brain-network.jpg);
	background-position: center right;
}



h1 {
	margin:0;
	padding: 0;
	font-size:30px;

}*/

#banner p {
	margin-bottom:2em;
	font-size:18px;
}

#nav {
      background:#222;
   overflow:hidden;
   height: 40px;
}

#nav ul li a {
   display:block;
   margin:0;
   padding:0px 10px;
   color:#fff;
   text-decoration:none;
   line-height:40px;
}
#nav ul li a:hover {
   background:#FFF;
   color:#333;
}
#page {
	background-color:#FFF;
	overflow:auto;
	padding:15px 0;
	clear: both;

	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;

}

textarea {
  white-space: pre-line;
white-space: pre-wrap;
}

#sidebar h3, #sidebar p {
	padding:0 10px;
}


h2 {
	margin-top:0;
	color:#494949;
	font-weight:normal;
	font-size:200%;
}

.right {
	float:right;
	margin: 0 0 10px 10px;
}
.left {
	float:left;
	margin:0 10px 10px 0;
}

#contentbar {
	width:210px;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0px;
	float:left;
	line-height:140%;
	background-color:#EEE;
	border: 1px solid #E5E5E5;
}

#contentbar h3, #contentbar p {
	padding:0 10px;
}
#fac_photo {margin-left:auto; margin-right:auto; display:block; padding:10px;}


}
#page {

	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
}

#input {
     position: absolute;
     bottom: 3500px;
     text-align: center;
     width: 3000px;
     height: 3000px;


}
